@charset "UTF-8";
/*Geral*/
@font-face {
  font-family: "Didot Italic";
  src: url("../fonts/didot-light-italic2.ttf") format("ttf"); }
body {
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box; }

main {
  max-width: 1920px;
  margin: 0 auto; }

blockquote {
  margin: 0; }

img {
  max-width: 100%;
  display: block; }

a {
  color: inherit;
  text-decoration: none; }

.m-auto {
  margin: 0 auto; }

.btn-principal {
  border-radius: 5px;
  padding: 8px 48px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 600;
  color: #fff;
  text-align: center;
  width: 120px;
  display: block;
  background-color: #D79843; }
  .btn-principal:hover {
    background-color: transparent;
    color: #D79843;
    border: 1px solid #D79843; }

.btn-box-item {
  border-radius: 5px;
  padding: 8px 48px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background-color: #D79843;
  display: block;
  margin: 0 16px;
  border-radius: 0 0 5px 5px; }

.btn-outline {
  border-radius: 5px;
  padding: 8px 48px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background-color: transparent;
  border: 1px solid #D79843; }
  .btn-outline:hover {
    color: #000;
    background-color: #D79843;
    font-weight: 600; }

.banner-principal .titulos-banner .titulo-principal::after, .box-item .nome-produto::after, .hidratantes-desktop .nome-produto::after, .citacao-container-mobile .citacao p::after, .citacao-container-desktop .citacao p::after, .titulo-sessao::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 16px auto;
  background-color: #D79843; }

.banner-principal .titulos-banner .titulo-principal, .banner-principal .titulos-banner .subtitulo-banner, .titulo-sessao {
  margin: 0 16px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center; }

/*Header*/
.logo-container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo-container .logo {
    max-width: 100%;
    max-height: 60px; }

/*Banner*/
.banner-principal {
  max-width: 100%;
  height: 450px;
  position: relative;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }
  @media (min-width: 900px) {
    .banner-principal {
      background-image: url("../img/banner-desktop.jpg"); } }
  .banner-principal .titulos-banner {
    width: 100%;
    max-width: 600px;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%); }
    .banner-principal .titulos-banner .titulo-principal {
      color: #fff; }
    .banner-principal .titulos-banner .subtitulo-banner {
      color: #fff;
      font-weight: 600; }

/*Colageno & Elastina*/
.colageno-elastina {
  font-size: 40px;
  text-align: center;
  overflow: hidden;
  font-family: 'Didot Italic';
  font-style: italic; }
  .colageno-elastina .colageno,
  .colageno-elastina .elastina {
    display: block;
    position: relative; }
  .colageno-elastina .colageno {
    left: -24px; }
  .colageno-elastina .elastina {
    right: -24px; }
  .colageno-elastina .mais {
    font-size: 96px;
    line-height: 0px;
    font-weight: 200;
    color: #D79843;
    position: relative;
    top: 16px;
    left: 8px; }

/*CARROSSEL*/
.box-item {
  border: 1px solid #E1E1E1;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  margin: 0 16px;
  padding: 24px 16px;
  min-height: 182px; }
  @media (min-width: 600px) {
    .box-item {
      min-height: 240px; } }
  @media (min-width: 700px) {
    .box-item {
      min-height: 200px; } }
  .box-item .nome-produto,
  .box-item .desc-produto {
    margin: 0; }
  .box-item .nome-produto {
    text-align: center; }

/*Hidratantes Desktop*/
.hidratantes-desktop {
  max-width: 900px;
  margin: 0 auto; }
  @media (max-width: 899px) {
    .hidratantes-desktop {
      display: none; } }
  .hidratantes-desktop .item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0; }
  .hidratantes-desktop .box-item-desktop {
    max-width: 460px; }
  .hidratantes-desktop .nome-produto,
  .hidratantes-desktop .desc-produto {
    margin: 8px 0; }
  .hidratantes-desktop .nome-produto::after {
    margin: 8px 0; }

.item.item-direita {
  text-align: right; }
  .item.item-direita .nome-produto::after {
    margin: 8px 0 8px auto; }
  .item.item-direita .btn-principal {
    margin: 0 0 0 auto; }

/*Citação*/
@media (min-width: 899px) {
  .citacao-container-mobile {
    display: none; } }
.citacao-container-mobile .citacao {
  background-color: #000;
  color: #fff;
  padding: 32px 16px;
  text-align: center; }
  .citacao-container-mobile .citacao p {
    margin: 0;
    font-style: italic; }
  .citacao-container-mobile .citacao cite {
    font-style: normal; }

.bg-citacao {
  background-color: #000; }

.citacao-container-desktop {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 32px; }
  @media (max-width: 899px) {
    .citacao-container-desktop {
      display: none; } }
  .citacao-container-desktop .foto-citacao {
    width: 50%; }
  .citacao-container-desktop .citacao {
    color: #fff;
    text-align: center;
    width: 50%; }
    .citacao-container-desktop .citacao p {
      margin: 0;
      font-style: italic;
      font-size: 20px; }
    .citacao-container-desktop .citacao cite {
      font-style: normal; }

/*Método Renata França*/
@media (min-width: 900px) {
  .metodo-renata-container {
    display: flex; } }
.metodo-renata-container .foto-renata {
  background-image: url(../img/renata-franca.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px; }
  @media (min-width: 900px) {
    .metodo-renata-container .foto-renata {
      width: 50%; } }
.metodo-renata-container .metodo-renata {
  background-color: #000;
  background-image: url("../img/mapa-mundi.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 32px 16px; }
  @media (min-width: 900px) {
    .metodo-renata-container .metodo-renata {
      width: 50%; } }
  .metodo-renata-container .metodo-renata .metodo-item {
    margin: 40px auto; }

.titulo-sessao {
  font-weight: 600; }

.subtitulo-sessao {
  font-style: italic;
  font-size: 16px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
